.card {
  display: inline-block;
  width: 250px;
  padding: 30px;
  margin: 10px;
  border: 1px solid #b6da03;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.products-container{
  display: inline-block;
  background-color: #b6da03;
}
.card img {
  width: 100%;
  border-radius: 4px;
}

.card h1 {
  font-size: 20px;
  color: #333;
}

.card p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}
.card span{
  color: red;
}

.card button {
  background-color: #b6da03;
  font-size: 15px;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}