.card {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .card:hover {
    background-color: gray;
  }
  
  .card h2 {
    color: white;
    font-size: 24px;
    text-align: center;
  }